In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set(style="darkgrid")

In [2]:
crime = pd.read_csv('crime_boston.csv')
crime.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192064813,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,D14,794,NaN,2019-08-17 21:00:00,2019,8,Saturday,21,Part Three,QUINT AVE,NaN,NaN,"(0.00000000, 0.00000000)"
1,I192064810,3410,Towed,TOWED MOTOR VEHICLE,B3,435,NaN,2019-08-17 21:15:00,2019,8,Saturday,21,Part Three,PEACEVALE RD,42.287167,-71.076335,"(42.28716674, -71.07633479)"
2,I192064808,2003,Offenses Against Child / Family,CHILD ENDANGERMENT (NO ASSAULT),C11,355,NaN,2019-08-17 19:33:00,2019,8,Saturday,19,Part Two,GIBSON ST,42.297555,-71.059709,"(42.29755533, -71.05970910)"
3,I192064803,802,Simple Assault,ASSAULT SIMPLE - BATTERY,E18,554,NaN,2019-08-17 20:55:00,2019,8,Saturday,20,Part Two,METROPOLITAN AVE,42.272509,-71.123190,"(42.27250898, -71.12318965)"
4,I192064800,3114,Investigate Property,INVESTIGATE PROPERTY,E18,502,NaN,2019-08-17 19:39:00,2019,8,Saturday,19,Part Three,PHILBRICK ST,42.285459,-71.118027,"(42.28545883, -71.11802667)"

In [5]:
offense = pd.read_excel('offense_codes_boston.xlsx')
offense.head(10)

   CODE                                        NAME
0   612            LARCENY PURSE SNATCH - NO FORCE
1   613                         LARCENY SHOPLIFTING
2   615     LARCENY THEFT OF MV PARTS & ACCESSORIES
3  1731                                      INCEST
4  3111                   LICENSE PREMISE VIOLATION
5  2646                 LIQUOR - DRINKING IN PUBLIC
6  2204                        LIQUOR LAW VIOLATION
7  3810  M/V ACCIDENT - INVOLVING Â BICYCLE - INJURY
8  3801                        M/V ACCIDENT - OTHER
9  3807           M/V ACCIDENT - OTHER CITY VEHICLE

In [4]:
crime.groupby('INCIDENT_NUMBER').count()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
INCIDENT_NUMBER,,,,,,,,,,,,,,,,
I010370257-00,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I020662996-00,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I020669075-00,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I020674147-00,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I020691165-00,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
I192064800,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064803,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064808,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064810,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064813,1,1,1,1,1,0,1,1,1,1,1,1,1,0,0,1